WeatherLink_NR.txt
[{"id":"6728e345.c2815c","type":"tab","label":"Weatherlink NR","disabled":true,"info":""},{"id":"ad2e2a23.e6c6e8","type":"http request","z":"6728e345.c2815c","name":"","method":"GET","ret":"txt","url":"http://api.weatherlink.com/v1/NoaaExt.json?user=xxxx&pass=yyyy&apiToken=zzzz","tls":"","x":130,"y":180,"wires":[["d50719d1.29b038"]]},{"id":"6bb03036.08c64","type":"inject","z":"6728e345.c2815c","name":"Inject","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":100,"wires":[["ad2e2a23.e6c6e8"]]},{"id":"d50719d1.29b038","type":"json","z":"6728e345.c2815c","name":"","property":"payload","action":"","pretty":false,"x":170,"y":320,"wires":[["8ad0ce38.9e27c","6a2f3dee.9e6fb4","d011b1bb.267f4","246ee055.9b00b","a7e0e0d5.9f98f","3cd5b7c0.329fd8","b76013fd.95715","1a521f.14990de2"]]},{"id":"8ad0ce38.9e27c","type":"debug","z":"6728e345.c2815c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":350,"y":220,"wires":[]},{"id":"d011b1bb.267f4","type":"function","z":"6728e345.c2815c","name":"wind_ten_min_gust/avg_m/s","func":"var msg0 = {}; // Convert from mph to m/s\nmsg0.payload = (parseFloat(msg.payload.davis_current_observation.wind_ten_min_avg_mph) * 0.44704).toFixed(1);\nmsg0.topic = \"Wind average 10 minutes\";\n\nvar msg1 = {};\nmsg1.payload = (parseFloat(msg.payload.davis_current_observation.wind_ten_min_gust_mph) * 0.44704).toFixed(1);\nmsg1.topic = \"Wind gust 10 minutes\";\n\nvar msg2 = {};\nmsg2.payload = \"<table> <tr> <td>Average 10 minutes</td> <td>\"+ msg0.payload + \" </td> <td> m/s</td> </tr> <tr> <td>Gust 10 minutes</td> <td>\"+ msg1.payload + \"</td> <td> m/s </td> </tr></table> \";\n\nreturn [msg1, msg0, msg2];\n","outputs":3,"noerr":0,"x":400,"y":400,"wires":[["bc365289.844cf"],["bc365289.844cf"],["8b183f6a.23b23"]]},{"id":"6a2f3dee.9e6fb4","type":"change","z":"6728e345.c2815c","name":"Wind_degrees","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.wind_degrees","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":340,"wires":[["a0cf9000.02b3f"]]},{"id":"a0cf9000.02b3f","type":"ui_gauge","z":"6728e345.c2815c","name":"","group":"5dd87c22.67d804","order":2,"width":"6","height":"4","gtype":"compass","title":"<h2>Wind direction<h2/>","label":"Degrees","format":"{{value|number:0}}","min":0,"max":"360","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":690,"y":340,"wires":[]},{"id":"999425a7.73f598","type":"ui_chart","z":"6728e345.c2815c","name":"","group":"1a5b84b4.fac29b","order":1,"width":"6","height":"4","label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"6","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#ff2600","#00f900","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":910,"y":260,"wires":[[],[]],"outputLabels":["Snitt vind","Vind byar"]},{"id":"bc365289.844cf","type":"ui_chart","z":"6728e345.c2815c","name":"","group":"1a5b84b4.fac29b","order":2,"width":"6","height":"4","label":"Wind","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"6","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#ff2600","#00f900","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":890,"y":360,"wires":[[],[]]},{"id":"81c10048.c31a3","type":"inject","z":"6728e345.c2815c","name":"Reset Chart","topic":"","payload":"[]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":710,"y":220,"wires":[["bc365289.844cf","999425a7.73f598","8bf7573b.b78b28","7b3f50ef.0f9d4"]]},{"id":"c1b67a05.641448","type":"ui_text","z":"6728e345.c2815c","group":"b4e0e5ee.019188","order":1,"width":"6","height":"4","name":"","label":"<h1>Sun<h1/>","format":"{{msg.payload}}","layout":"col-center","x":1100,"y":100,"wires":[]},{"id":"246ee055.9b00b","type":"function","z":"6728e345.c2815c","name":"Sun rise/set","func":"\nvar sunR = msg.payload.davis_current_observation.sunrise;\nvar sunS = msg.payload.davis_current_observation.sunset\n\nvar msg = {};\nmsg.payload = \"<table> <tr> <td>Sunrise </td> <td>\"+ sunR + \" </td> </tr> <tr> <td>Sunset</td> <td>\"+ sunS + \"</td> </tr></table> \";\n\nreturn msg \n\n\n","outputs":1,"noerr":0,"x":350,"y":100,"wires":[["c1b67a05.641448"]]},{"id":"3cd5b7c0.329fd8","type":"change","z":"6728e345.c2815c","name":"pressure_mb","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.pressure_mb","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"Pressure","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":460,"wires":[["8bf7573b.b78b28"]]},{"id":"a7e0e0d5.9f98f","type":"function","z":"6728e345.c2815c","name":"temperature windchill_c/temp_c","func":"var msg0 = {};\nmsg0.payload = msg.payload.windchill_c;\nmsg0.topic = \"Temperature feels like\";\n\nvar msg1 = {};\nmsg1.payload = msg.payload.temp_c;\nmsg1.topic = \"Temperature outdoor\";\n\nvar msg2 = {};\nmsg2.payload = \"<table> <tr> <td>Outside</td> <td>\"+ msg1.payload + \" </td> <td> °C </td> </tr> <tr> <td>Windchill</td> <td>\"+ msg0.payload + \"</td> <td> °C </td> </tr></table> \";\n\nreturn [msg0, msg1, msg2];\n","outputs":3,"noerr":0,"x":410,"y":280,"wires":[["999425a7.73f598"],["999425a7.73f598"],["46259f57.30a04"]]},{"id":"8bf7573b.b78b28","type":"ui_chart","z":"6728e345.c2815c","name":"","group":"1a5b84b4.fac29b","order":3,"width":"6","height":"4","label":"Pressure ","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"6","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#00f900","#00f900","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":900,"y":460,"wires":[[],[]]},{"id":"46259f57.30a04","type":"ui_text","z":"6728e345.c2815c","group":"5dd87c22.67d804","order":1,"width":"6","height":"4","name":"Temperature","label":"<h1> Temperature <h1/>","format":"{{msg.payload}}","layout":"col-center","x":650,"y":300,"wires":[]},{"id":"8b183f6a.23b23","type":"ui_text","z":"6728e345.c2815c","group":"5dd87c22.67d804","order":3,"width":"6","height":"4","name":"Wind","label":"<h1>Wind</h1>","format":"{{msg.payload}}","layout":"col-center","x":630,"y":420,"wires":[]},{"id":"5b5c8599.134d4c","type":"comment","z":"6728e345.c2815c","name":"Get input","info":"","x":100,"y":60,"wires":[]},{"id":"7c62011.827f","type":"comment","z":"6728e345.c2815c","name":"Calculation","info":"","x":340,"y":60,"wires":[]},{"id":"22e45ae6.96a7e6","type":"comment","z":"6728e345.c2815c","name":"Column_1","info":"","x":640,"y":60,"wires":[]},{"id":"46eda04f.2b426","type":"comment","z":"6728e345.c2815c","name":"Column_2","info":"","x":900,"y":60,"wires":[]},{"id":"c7b3423f.80268","type":"comment","z":"6728e345.c2815c","name":"Column_3","info":"","x":1080,"y":60,"wires":[]},{"id":"7b3f50ef.0f9d4","type":"ui_chart","z":"6728e345.c2815c","name":"","group":"b4e0e5ee.019188","order":1,"width":"6","height":"4","label":"Rain","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"8","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#00f900","#00fdff","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1070,"y":160,"wires":[[],[]],"outputLabels":["Snitt vind","Vind byar"]},{"id":"b76013fd.95715","type":"function","z":"6728e345.c2815c","name":"Rain ","func":"var msg0 = {}; // Convert from inch to mm\nmsg0.payload = (parseFloat(msg.payload.davis_current_observation.rain_day_in) * 25.4).toFixed(1);\nmsg0.topic = \"Rain day mm\";\n\nvar msg1 = {};\nmsg1.payload = (parseFloat(msg.payload.davis_current_observation.rain_month_in) * 25.4).toFixed(1);\n// msg1.payload = msg.payload.davis_current_observation.rain_month_in;\nmsg1.topic = \"Rain month mm\";\n\nvar msg2 = {};\nmsg2.payload = (parseFloat(msg.payload.davis_current_observation.rain_year_in) * 25.4).toFixed(1);\nmsg2.topic = \"Rain year mm\";\n\nreturn [msg0, msg1, msg2];\n","outputs":3,"noerr":0,"x":330,"y":160,"wires":[["7b3f50ef.0f9d4"],["7b3f50ef.0f9d4"],["7b3f50ef.0f9d4"]]},{"id":"48742b1d.9052a4","type":"ui_text","z":"6728e345.c2815c","group":"b4e0e5ee.019188","order":1,"width":"6","height":"4","name":"Additional info","label":"","format":"{{msg.payload}}","layout":"col-center","x":1100,"y":520,"wires":[]},{"id":"1a521f.14990de2","type":"function","z":"6728e345.c2815c","name":"Additional info","func":"\nvar obsTime = msg.payload.observation_time_rfc822;\nvar obsLoc = msg.payload.location;\n\nvar obsTimeTxt =\"<h1>Observation Time</h1>\" + obsTime + \"<br />\";\nvar obsLocTxt =\"<h1>Location</h1>\" + obsLoc + \"<br />\";\n\nvar msg = {};\nmsg.payload = obsTimeTxt + obsLocTxt;\n\nreturn msg \n\n\n","outputs":1,"noerr":0,"x":360,"y":520,"wires":[["48742b1d.9052a4"]]},{"id":"5dd87c22.67d804","type":"ui_group","z":"","name":"column_1","tab":"73e15a1a.a74094","disp":false,"width":"6"},{"id":"1a5b84b4.fac29b","type":"ui_group","z":"","name":"Column_2","tab":"73e15a1a.a74094","disp":false,"width":"6"},{"id":"b4e0e5ee.019188","type":"ui_group","z":"","name":"column_3","tab":"73e15a1a.a74094","disp":false,"width":"6"},{"id":"73e15a1a.a74094","type":"ui_tab","z":"","name":"Domstens Hamn","icon":"dashboard"}]