WL_2018-10-09.txt
[{"id":"be2909de.a014e","type":"tab","label":"Weatherlink 2018-10-09","disabled":false,"info":""},{"id":"9d01c684.b773c","type":"http request","z":"be2909de.a014e","name":"","method":"GET","ret":"txt","url":"http://api.weatherlink.com/v1/NoaaExt.json?user=XXXX&pass=YYYY&apiToken=ZZZZ","tls":"","x":110,"y":160,"wires":[["e107c25d.4d5a18"]]},{"id":"1d8e7d63.a33d13","type":"inject","z":"be2909de.a014e","name":"Inject","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":80,"wires":[["9d01c684.b773c"]]},{"id":"e107c25d.4d5a18","type":"json","z":"be2909de.a014e","name":"","property":"payload","action":"","pretty":false,"x":150,"y":300,"wires":[["753a8dbc.3f2b04","5ce0462f.a6e83","c673a90c.b51e58","a40e65e2.63ebb8","a3c8d2de.35a028","e718ff4c.8da0a","e0ab754d.b2172","3364cff.916e03"]]},{"id":"753a8dbc.3f2b04","type":"debug","z":"be2909de.a014e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":330,"y":200,"wires":[]},{"id":"c673a90c.b51e58","type":"function","z":"be2909de.a014e","name":"wind_ten_min_gust/avg_m/s","func":"var msg0 = {}; // Convert from mph to m/s\nmsg0.payload = (parseFloat(msg.payload.davis_current_observation.wind_ten_min_avg_mph) * 0.44704).toFixed(1);\nmsg0.topic = \"Wind average 10 minutes\";\n\nvar msg1 = {};\nmsg1.payload = (parseFloat(msg.payload.davis_current_observation.wind_ten_min_gust_mph) * 0.44704).toFixed(1);\nmsg1.topic = \"Wind gust 10 minutes\";\n\nvar msg2 = {};\nmsg2.payload = \"<table> <tr> <td>Average 10 minutes</td> <td>\"+ msg0.payload + \" </td> <td> m/s</td> </tr> <tr> <td>Gust 10 minutes</td> <td>\"+ msg1.payload + \"</td> <td> m/s </td> </tr></table> \";\n\nreturn [msg1, msg0, msg2];\n","outputs":3,"noerr":0,"x":380,"y":380,"wires":[["56226128.15c4c8"],["56226128.15c4c8"],["25fc6edf.7c2b62"]]},{"id":"5ce0462f.a6e83","type":"change","z":"be2909de.a014e","name":"Wind_degrees","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.wind_degrees","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":320,"wires":[["fad06787.0c684"]]},{"id":"fad06787.0c684","type":"ui_gauge","z":"be2909de.a014e","name":"","group":"140972ad.fcd4c5","order":2,"width":"6","height":"4","gtype":"compass","title":"<h2>Wind direction<h2/>","label":"Degrees","format":"{{value|number:0}}","min":0,"max":"360","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":670,"y":320,"wires":[]},{"id":"91feca5c.b6d5c","type":"ui_chart","z":"be2909de.a014e","name":"","group":"d05673f6.d572a","order":1,"width":"6","height":"4","label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"6","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#ff2600","#00f900","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":890,"y":240,"wires":[[],[]],"outputLabels":["Snitt vind","Vind byar"]},{"id":"56226128.15c4c8","type":"ui_chart","z":"be2909de.a014e","name":"","group":"d05673f6.d572a","order":2,"width":"6","height":"4","label":"Wind","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"6","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#ff2600","#00f900","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":870,"y":340,"wires":[[],[]]},{"id":"1fbe1d45.3aa07b","type":"inject","z":"be2909de.a014e","name":"Reset Charts","topic":"","payload":"[]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":690,"y":200,"wires":[["56226128.15c4c8","91feca5c.b6d5c","9ad237b4.6de65","806d5e5.8b4532"]]},{"id":"8fcdd649.1efa28","type":"ui_text","z":"be2909de.a014e","group":"926fa082.651","order":1,"width":"6","height":"4","name":"","label":"<h1>Sun<h1/>","format":"{{msg.payload}}","layout":"col-center","x":1080,"y":80,"wires":[]},{"id":"a40e65e2.63ebb8","type":"function","z":"be2909de.a014e","name":"Sun rise/set","func":"\nvar sunR = msg.payload.davis_current_observation.sunrise;\nvar sunS = msg.payload.davis_current_observation.sunset\n\nvar msg = {};\nmsg.payload = \"<table> <tr> <td>Sunrise </td> <td>\"+ sunR + \" </td> </tr> <tr> <td>Sunset</td> <td>\"+ sunS + \"</td> </tr></table> \";\n\nreturn msg \n\n\n","outputs":1,"noerr":0,"x":330,"y":80,"wires":[["8fcdd649.1efa28"]]},{"id":"e718ff4c.8da0a","type":"change","z":"be2909de.a014e","name":"pressure_mb","rules":[{"t":"set","p":"payload","pt":"msg","to":"$round($number(payload.pressure_mb),1)","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"Pressure","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":440,"wires":[["9ad237b4.6de65"]]},{"id":"a3c8d2de.35a028","type":"function","z":"be2909de.a014e","name":"temp. outside C/\"Feels like\"","func":"// Temp \"Feels like\" according to BOM http://www.bom.gov.au/info/thermal_stress/#atapproximation\n\nvar msg0 = {};   // Temp \"Feels like\" \nvar waterPress = (parseFloat(msg.payload.relative_humidity)/100)*6.105*Math.exp((17.27*parseFloat(msg.payload.temp_c))/(237.7+parseFloat(msg.payload.temp_c)))\nmsg0.payload = (parseFloat(msg.payload.temp_c) + 0.33*waterPress - 0.7*(parseFloat(msg.payload.wind_mph)*0.44704) - 4).toFixed(1);\nmsg0.topic = \"Temperature feels like\";\n\nvar msg1 = {};\nmsg1.payload = msg.payload.temp_c;\nmsg1.topic = \"Temperature outdoor\";\n\nvar msg2 = {};\nmsg2.payload = \"<table> <tr> <td>Outside</td> <td>\"+ msg1.payload + \" </td> <td> °C </td> </tr> <tr> <td>Feels like</td> <td>\"+ msg0.payload + \"</td> <td> °C </td> </tr></table> \";\n\nreturn [msg0, msg1, msg2];\n","outputs":3,"noerr":0,"x":380,"y":260,"wires":[["91feca5c.b6d5c"],["91feca5c.b6d5c"],["a6e798b9.ec4e3"]]},{"id":"9ad237b4.6de65","type":"ui_chart","z":"be2909de.a014e","name":"","group":"d05673f6.d572a","order":3,"width":"6","height":"4","label":"Pressure ","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"6","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#00f900","#00f900","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":880,"y":440,"wires":[[],[]]},{"id":"a6e798b9.ec4e3","type":"ui_text","z":"be2909de.a014e","group":"140972ad.fcd4c5","order":1,"width":"6","height":"4","name":"Temperature","label":"<h1> Temperature <h1/>","format":"{{msg.payload}}","layout":"col-center","x":630,"y":280,"wires":[]},{"id":"25fc6edf.7c2b62","type":"ui_text","z":"be2909de.a014e","group":"140972ad.fcd4c5","order":3,"width":"6","height":"4","name":"Wind","label":"<h1>Wind</h1>","format":"{{msg.payload}}","layout":"col-center","x":610,"y":400,"wires":[]},{"id":"1ae93dd8.78031a","type":"comment","z":"be2909de.a014e","name":"Get input","info":"","x":80,"y":40,"wires":[]},{"id":"a48c745c.66121","type":"comment","z":"be2909de.a014e","name":"Calculation","info":"","x":320,"y":40,"wires":[]},{"id":"9e32516f.98cc18","type":"comment","z":"be2909de.a014e","name":"Column_1","info":"","x":620,"y":40,"wires":[]},{"id":"e9361e92.e50b8","type":"comment","z":"be2909de.a014e","name":"Column_2","info":"","x":880,"y":40,"wires":[]},{"id":"c3ac0ca6.ed2ab","type":"comment","z":"be2909de.a014e","name":"Column_3","info":"","x":1060,"y":40,"wires":[]},{"id":"806d5e5.8b4532","type":"ui_chart","z":"be2909de.a014e","name":"","group":"926fa082.651","order":2,"width":"6","height":"4","label":"Rain","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"8","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#00f900","#00fdff","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1050,"y":140,"wires":[[],[]],"outputLabels":["Snitt vind","Vind byar"]},{"id":"e0ab754d.b2172","type":"function","z":"be2909de.a014e","name":"Rain ","func":"var msg0 = {}; // Convert from inch to mm\nmsg0.payload = (parseFloat(msg.payload.davis_current_observation.rain_day_in) * 25.4).toFixed(1);\nmsg0.topic = \"Day mm\";\n\nvar msg1 = {};\nmsg1.payload = (parseFloat(msg.payload.davis_current_observation.rain_month_in) * 25.4).toFixed(1);\n// msg1.payload = msg.payload.davis_current_observation.rain_month_in;\nmsg1.topic = \"Month mm\";\n\nvar msg2 = {};\nmsg2.payload = (parseFloat(msg.payload.davis_current_observation.rain_year_in) * 2.54).toFixed(1);\nmsg2.topic = \"Year dm\";\n\nreturn [msg0, msg1, msg2];\n","outputs":3,"noerr":0,"x":310,"y":140,"wires":[["806d5e5.8b4532"],["806d5e5.8b4532"],["806d5e5.8b4532"]]},{"id":"c5eb19a7.f3f72","type":"ui_text","z":"be2909de.a014e","group":"926fa082.651","order":3,"width":"6","height":"4","name":"Additional info","label":"","format":"{{msg.payload}}","layout":"col-center","x":1080,"y":500,"wires":[]},{"id":"3364cff.916e03","type":"function","z":"be2909de.a014e","name":"Additional info","func":"\nvar obsTime = msg.payload.observation_time_rfc822;\nvar obsLoc = msg.payload.location;\n\nvar obsTimeTxt =\"<h1>Observation Time</h1>\" + obsTime + \"<br />\";\nvar obsLocTxt =\"<h1>Location</h1>\" + obsLoc + \"<br />\";\n\nvar msg = {};\nmsg.payload = obsTimeTxt + obsLocTxt;\n\nreturn msg \n\n\n","outputs":1,"noerr":0,"x":340,"y":500,"wires":[["c5eb19a7.f3f72"]]},{"id":"140972ad.fcd4c5","type":"ui_group","z":"","name":"column_1","tab":"bdf7b275.7bc9d","disp":false,"width":"6","collapse":false},{"id":"d05673f6.d572a","type":"ui_group","z":"","name":"Column_2","tab":"bdf7b275.7bc9d","disp":false,"width":"6"},{"id":"926fa082.651","type":"ui_group","z":"","name":"column_3","tab":"bdf7b275.7bc9d","disp":false,"width":"6"},{"id":"bdf7b275.7bc9d","type":"ui_tab","z":"","name":"Weather City","icon":"dashboard","order":1}]